/* 
  Maroon: #4d0000
  Ivory: #fffff0
 */

.countdown-days {
    font-size: 108px;
    color: #fffff0;
    margin: 0;
    padding: 0;
}

.countdown-label {
    font-size: 32px;
    color: #fffff0;
    margin: 0;
    padding: 0;
}
